[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/featureDetector"]
	path = deps/featureDetector
	url = https://github.com/Mysticial/FeatureDetector.git
[submodule "deps/thread-pool"]
	path = deps/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad.git
